

#app {
    display: flex;
    overflow: hidden;
    position: fixed;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    background-color: var(--gray-four);
}


#app #guild_list {
    background-color: var(--gray-four);
    width: 70px;
    min-width: 70px;
    max-width: 70px;

    text-align: center;
}
#app #channels_and_settings {
    background-color: var(--gray-one);
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 10px 0 0px 0px;
    display: flex;
    flex-flow: column;
}
#app #channel_content {
    background-color: var(--gray-two);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
/* classe plus basse -> #app #channel_content div.messages_and_members div#member_list
#app #member_list {
}
*/


/********** Guild list **********/
#app #guild_list div.menu {
    border-radius: 25px;
    background-color: var(--gray-two);
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 10px auto;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
#app #guild_list div.menu:hover {
    border-radius: 17px;
    transition: 0.2s ease-in-out;
    background-color: var(--blue-one);
    color: white;
}
#app #guild_list div.menu svg.homeIcon {
    color:white;
    height: 100%;
}

#app #guild_list div.separator {
    width: 50%;
    height: 2px;
    margin: 0px auto;
    border-radius: 10px;
    background-color: var(--gray-one);
}

#app #guild_list div.guild {
    border-radius: 25px;
    /*background-color: var(--gray-two);*/
    background-color: var(--gray-two);
    width: 50px;
    height: 50px;
    text-align: center;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin: 10px auto;
    color: #DCDDDE;
    overflow: hidden;
}
#app #guild_list div.guild:hover {
    border-radius: 17px;
    transition: 0.2s ease-in-out;
    background-color: var(--blue-one);
    color: white;
}
#app #guild_list div.guild label.text {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
#app #guild_list div.guild img.guild_icon {
    width: 100%;
    height: 100%;
}

/********** Channels and setting panel **********/
#app #channels_and_settings div.modes {
    height: 100%;
    overflow: hidden;
}
    /* Guild mode */
#app #channels_and_settings div.modes div.guild_mode {
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    flex-direction: column;
}
        /* Guild panel banner */
#app #channels_and_settings div.modes div.guild_mode div.guild_panel_banner {
    background-color: var(--gray-one);
    transition: background-color .1s linear;
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
    z-index: 1;
    font-weight: 600;
    vertical-align: center;
    padding: 16px 16px;
    cursor: pointer;
}
#app #channels_and_settings div.modes div.guild_mode div.guild_panel_banner:hover {
    background-color: var(--gray-survol-one);
}
#app #channels_and_settings div.modes div.guild_mode div.guild_panel_banner div.guild_title {
    display: flex;
    flex-direction: row;
}
#app #channels_and_settings div.modes div.guild_mode div.guild_panel_banner div.guild_title div.left{
    display: flex;
    flex-direction: row;
    width: 170%;
    overflow: hidden;
}
#app #channels_and_settings div.modes div.guild_mode div.guild_panel_banner div.guild_title div.right {
    /* width: 30%; */
    background-color: aliceblue; /* debug */
    margin-left: 10px;
}
#app #channels_and_settings div.modes div.guild_mode div.guild_panel_banner div.guild_title div.left div,p{
    margin-left: 2px;
    margin-right: 2px;
}
#app #channels_and_settings div.modes div.guild_mode div.guild_panel_banner div.guild_title div.left div.boost_badge svg.boost{
    max-width: 20px;
    max-height: 20px;
}
#app #channels_and_settings div.modes div.guild_mode div.guild_panel_banner div.guild_title div.left div.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
}
#app #channels_and_settings div.modes div.guild_mode div.guild_panel_banner div.guild_title label.guild_panel_banner_text {
    margin: 0px auto;
    font-size: var(--font-size-guild-title); /* Maybe without */
    height: fit-content;
}

        /* Guild categories */
#app #channels_and_settings div.modes div.guild_mode #channel_list {
    height: 92%;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 15px;
}

#app #channels_and_settings div.modes div.guild_mode #channel_list div.category {
    color: var(--gray-six);
    padding-top: 16px;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.category div.category_name {
    display: flex;
    vertical-align: baseline;
    align-items: center;
    cursor: pointer;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.category div.category_name:hover{
    color: var(--gray-survol-two);
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.category.collapsed div.category_name div.arrow svg.arrow{
    transform: rotate(-90deg);
    transition: 0.3s all;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.category div.category_name div.arrow svg.arrow {
    width: 15px;
    height: 15px;
    padding: 2px;
    transition: 0.3s all;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.category div.category_name div.name label.name {
    font-weight: bold;
    text-transform:uppercase;
    font-size: 12px;
    cursor: pointer;
}

#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel {
    /* background-color: #2c15f7; */
    margin: 2px;
    margin-left: 0px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    margin-left: 10px;
}


#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel.selected {
    background-color: var(--gray-selected-one);
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel.selected div.left div.name label.text{
    color: white;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel:not(.selected):hover {
    background-color: var(--gray-survol-one);
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel div.left div.name label.text{
    color: var(--gray-six);
    cursor: pointer;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel:not(.selected,.unread):hover div.left div.name label.text{
    color: var(--gray-survol-two);
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel div.left {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    overflow: hidden;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel div.right {
    /* display: flex;
    flex-direction: row; */
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel div.right div.channel_options{
    display: flex;
    flex-direction: row;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel:not(.unread) div.unread div.dot {
    display: none;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel.unread div.left div.name label.text {
    color: white;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel.unread div.unread div.dot {
    background-color: white;
    height: 8px;
    width: 4px;
    border-radius: 0 4px 4px 0;
    margin-left: -15px;
}

#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel div.left div.icon {
    margin-right: 5px;
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel div.left div.icon svg.icon {
    color: var(--gray-six);
}
#app #channels_and_settings div.modes div.guild_mode #channel_list div.channel div.left div.name label.text {
    margin: 0px;
    color: var(--gray-six);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}




    /* DM mode */
#app #channels_and_settings div.modes div.dm_mode {
    background-color: rgb(204, 0, 255);
    height: 100%;
}

    /* user panel (total height: 165px ) */ 
        /* Voice */
#app #channels_and_settings div.user_settings_panel__voice {
    height: 105px;
    float: bottom;
    background-color: var(--gray-five);
    border-bottom: 1px solid var(--gray-two);
    width: 100%;
}
#app #channels_and_settings div.user_settings_panel__voice {
    color: white;
}

        /* User */
#app #channels_and_settings div.user_settings_panel__user {
    height: 60px;
    float: bottom;
    background-color: var(--gray-five);
    display: flex;
    width: 100%;
}
#app #channels_and_settings div.user_settings_panel__user div.user {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 7px 5px 7px 5px;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}
#app #channels_and_settings div.user_settings_panel__user div.user:hover {
    background-color: var(--gray-survol-three);
}
#app #channels_and_settings div.user_settings_panel__user div.user div.infos {
    overflow: hidden;
}
#app #channels_and_settings div.user_settings_panel__user div.user div.infos div.username {
    color: white;
    font-weight: bold;
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
}
#app #channels_and_settings div.user_settings_panel__user div.user div.infos div.tag {
    color: var(--gray-six);
    font-size: 12px;
}
#app #channels_and_settings div.user_settings_panel__user div.user div.avatar {

}
#app #channels_and_settings div.user_settings_panel__user div.user div.avatar svg rect.presence_dot {
    border-radius: 10px;
}

#app #channels_and_settings div.user_settings_panel__user div.user div.avatar svg div.avatarStack img.avatar {
    width: 32px;
    height: 32px;
    border-radius: 100px;
}

#app #channels_and_settings div.user_settings_panel__user div.buttons {
    display: flex;
    align-items: center;
    width: max-content;
    margin-right: 7px;
}
#app #channels_and_settings div.user_settings_panel__user div.buttons div.button{
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--gray-seven);
}

#app #channels_and_settings div.user_settings_panel__user div.buttons div.button svg path.strikethrough {
    color: var(--red-one);
}
#app #channels_and_settings div.user_settings_panel__user div.buttons div.button svg.force-deaf,svg.force-mute {
    color: var(--red-one);
}

#app #channels_and_settings div.user_settings_panel__user div.buttons div.button:hover {
    background-color: var(--gray-survol-three);
}






/************************************************/
/*                                              */
/*           messages and Members               */
/*                                              */
/************************************************/

/* Top Banner */
#app #channel_content div.message:hover {
    background-color: var(--gray-survol-four);
}
#app #channel_content div.banner {
    background-color: var(--gray-two);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
    font-weight: 600;
    vertical-align: center;
    /* padding: 16px 16px; */
    height: 60px;
    display: flex;
    z-index: 1;

    align-items: center;
}
#app #channel_content div.banner div.icon {
    justify-content: left;
    margin-left: 20px;
}
#app #channel_content div.banner div.icon svg.icon {
    color: var(--gray-six);
    width: 24px;
    height: 24px;
}
#app #channel_content div.banner div.title {
    margin-left: 10px;
    justify-content: left;
}
#app #channel_content div.banner div.title label.channel_name {
    color: white;
}

#app #channel_content div.banner div.buttons {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

#app #channel_content div.banner div.buttons div.button {
    margin: 2px;
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--gray-seven);
}

#app #channel_content div.banner div.buttons div.button:hover {
    
    /* background-color: var(--gray-survol-three); */
    color: var(--gray-survol-two);
}

/* messages and members */
#app #channel_content div.messages_and_members {
    display: flex;
    /*flex-direction: column;
    height: 100%; */
    flex: 1 1 100%;
    overflow-y: hidden;
}

    /* Messages */
    
#app #channel_content div.messages_and_members div.messages_read_send{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: var(--gray-two); */
    overflow: hidden;
}


        /* Send message input bar */

#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar {
    width: 100%;
    height: max-content;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -5px 5px var(--gray-two);
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.input_bar {
    display: flex;
    background-color: var(--gray-ten);
    width: 100%;
    margin: 0px 15px 0px 15px;
    border-radius: 8px;
    transform: translate(0,-15px);
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.input_bar div.attach_files {
    color: var(--gray-seven);
    padding: 10px 16px;
    cursor: pointer;
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.input_bar div.attach_files:hover {
    color: white;
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.input_bar div.input {
    width: 100%;
    display: flex;
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.input_bar div.input input.input-send_message{
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 15px;
    caret-color: white;
    color: var(--gray-eleven);
}

#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.input_bar div.input input.input-send_message:focus{
    outline: none;
}

#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.separator {
    display: flex;
    align-items: center;
    margin-left: auto;
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.separator div.vertical-separator{
    background-color: var(--gray-nine);
    width: 1px;
    height: 70%;
}


#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.buttons div.button {
    margin: 5px;
    margin-left: auto;
    padding: 5px;
    cursor: pointer;
    color: var(--gray-seven);
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.buttons div.button:hover {
    color: white;
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.buttons div.button svg.emojis_button {
    filter: grayscale(1);
    transition: 0.1s all;
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.buttons div.button svg.emojis_button:hover {
    filter: grayscale(0);
    transform: scale(1.15);
    transition: 0.1s all;
}

#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.button_send {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
    /*
    color: var(--blue-one);
    filter: grayscale(1);
    */
}

#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.button_send:not(.activated) {
    color: var(--gray-nine);
    cursor: not-allowed;
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.button_send.activated {
    color: var(--blue-one);
}
#app #channel_content div.messages_and_members div.messages_read_send div.message_send_bar div.button_send.activated:hover {
    color: var(--blue-two);
}

        /* Message list displaying */

#app #channel_content div.messages_and_members div.messages_read_send #messages {
    /* flex: 0 0 calc(100% - 240px); */
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100% - 70px);
    padding-bottom: 30px;
}

#app #channel_content div.messages_and_members div.messages_read_send #messages div.message {
    padding-left: 72px;
    overflow: hidden;
    padding-bottom: 5px;
    /* margin: 10px 0px 10px 0px; */
}
#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.replying:before {
    margin-left: -36px;
    margin-top: 5px;
    width: 30px;
    height: 10px;
    content: "";
    position: absolute;
    border-top: 2px solid var(--gray-nine);
    border-left: 2px solid var(--gray-nine);
    border-radius: 5px 0px 0px 0px;
}

#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.replying div.replyed_message {
    display: flex;
    overflow: hidden;
}

#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.replying div.replyed_message div.avatar img.avatar {
    width: 16px;
    height: 16px;
    margin-right: .25rem;
    border-radius: 99px;
    
}
#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.replying div.replyed_message div.user {
    color:aqua;
    font-weight: bold;
    font-size: 14px;
    color: var(--gray-seven);
    padding-right: 5px;
    overflow: hidden;
}
#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.replying div.replyed_message div.content {
    color: var(--gray-seven);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
}


#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.msg img.avatar {
    margin-left: -55px;
    margin-top: -2px;
    width: 40px;
    height: 40px;
    border-radius: 99px;
    position: absolute;
}
#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.msg div.title {
    display: flex;
    margin-top: 7px;
    margin-bottom: 3px;
    align-items: baseline;
}
#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.msg div.title div.username {
    color: aqua;
    cursor: pointer;
}
#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.msg div.title div.username:hover {
    text-decoration: underline;
}
#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.msg div.title div.date {
    margin-left: 10px;
    font-size: 12px;
    color: var(--gray-seven);
    cursor: default;
}
#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.msg div.title div.date span.hours {
    font-family: consolas;
    font-weight: bold;
}
#app #channel_content div.messages_and_members div.messages_read_send #messages div.message div.msg div.content {
    color: var(--gray-seven);
    line-height: normal;
}





    /* Members list */
    
#app #channel_content div.messages_and_members #member_list {
    background-color: var(--gray-one);
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    margin-left: auto;
    /* height: 94%; */
    flex: 0 0 240px;
}



/*
#app #guild_list {
    background-color: #222222;
    width: 4vw;
    min-width: 4vw;
    max-width: 4vw;
}
#app #channels_and_settings {
    background-color: #111111;
    width: 12vw;
    min-width: 12vw;
    max-width: 12vw;
}
#app #channel_content {
    background-color: #333333;
    width: 100%;
}
#app #member_list {
    background-color: #444444;
    width: 13vw;
    min-width: 13vw;
    max-width: 13vw;
}
*/