
* {
    --gray-one: #2F3136;
    --gray-two: #36393F;
    --gray-three: #454950;
    --gray-four: #201825;
    --gray-five: #292B2F;
    --gray-six: #8E9297;
    --gray-seven: #B9BBBE;

    --gray-survol-one: #3C3F45;
    --gray-survol-two: #DCDDDE;
    --gray-survol-three: #3F434A;
    --gray-survol-four: #32353B;

    --gray-selected-one: #42464D;

    --red-one: #ED4245;

    --blue-one: #5865F2;
    --btn-careful-red: #DA4445;
    --btn-careful-red2: #D83C3E;
    --btn-careful-red2-hover: #A12D2F;
    --btn-positive: #2D7D46;
    --btn-positive-hover: #215B32;
    --btn-blue: #5865F2;
    --btn-blue-hover: #5865F2;

    --font-size-guild-title: 2vh;
    --saturation-factor: 1;
    --elevation-low: 0 1px 0 hsla(240,calc(var(--saturation-factor, 1)*11.1%),1.8%,0.2),0 1.5px 0 hsla(240,calc(var(--saturation-factor, 1)*7.7%),2.5%,0.05),0 2px 0 hsla(240,calc(var(--saturation-factor, 1)*11.1%),1.8%,0.05);


    --presence-dot-color-online: #3BA55D;
    --presence-dot-color-dnd: #ED4245;
    --presence-dot-color-idle: #FAA81A;
    --presence-dot-color-invisible: #747F8D;

}

/*
@font-face {
    font-family: 'Whitney';
    font-style: normal;
    font-weight: normal;
    src: url(https://onedrive.live.com/download?resid=F87CD694B48033C9!114&authkey=!ADeQuq8LqQCrD3I&ithint=file%2cwoff) format('woff');
}
*/

body {
    font-family: "Whitney", "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}